/* _base.scss
 * ------------------------------------------------------------------------- */

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.6;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

// Media Query Sizes
$largeMaxWidth: 1600px;
$desktopMaxWidth: 1250px;
$mobileMaxWidth: 780px;

// Global Topbar Vars
$global-topbar-height: 76px;
$mobile-topbar-height: 55px;
$site-title-font: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// Background Images & Colors
// $content-bg: url(images/tweed-bg.png);
// $body-bg: url(images/bg.jpg);
// $post-bg: #d6d5d5;

@import "../modules/all";