@font-face {
    font-family: 'RalewayBlack';
    src: url('../fonts/raleway-black-webfont.eot');
    src: url('../fonts/raleway-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-black-webfont.woff2') format('woff2'),
         url('../fonts/raleway-black-webfont.woff') format('woff'),
         url('../fonts/raleway-black-webfont.ttf') format('truetype'),
         url('../fonts/raleway-black-webfont.svg#ralewayblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RalewayBI';
    src: url('../fonts/raleway-blackitalic-webfont.eot');
    src: url('../fonts/raleway-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-blackitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-blackitalic-webfont.svg#ralewayblackitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#raleway') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayItalic';
    src: url('../fonts/raleway-italic-webfont.eot');
    src: url('../fonts/raleway-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-italic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-italic-webfont.woff') format('woff'),
         url('../fonts/raleway-italic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-italic-webfont.svg#ralewayitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Telemark';
    src: url('../fonts/2BE0A5_0_0.eot');
    src: url('../fonts/2BE0A5_0_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2BE0A5_0_0.woff2') format('woff2'),
         url('../fonts/2BE0A5_0_0.woff') format('woff'),
         url('../fonts/2BE0A5_0_0.ttf') format('truetype'),
         url('../fonts/2BE0A5_0_0.svg#telemark') format('svg');
    font-weight: normal;
    font-style: normal;
}
