body {
  background: #f1f1f1;
}

header.banner {
  background: white;
  width: 100%;
  padding: 2em;
}
.content {
  color: #555555;
  line-height: 1.4;
  font-family: 'Helvetica Neue', Helevetica, Arial, sans-serif;
  font-size: 1.4rem;

  &.row {
    max-width: 960px;
    margin: 0 auto;
  }
}

h1,h2,h3,h4 {
  font-family: 'Courier', 'Helvetica Neu', Helvetica, Arial, sans-serif;
}
h1,h2,h3 {
  text-transform: lowercase;
  word-spacing: -0.7rem;
  color: $black;
}
.page-header h1:after,
h1.entry-title:after {
  content: "()";
}

.content main {
  font-family: 'Raleway', 'Helvetica Neu', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  color: lighten($black, 20%);
  line-height: 1.6;
}
