body {
  background: #f1f1f1;
}

header.banner {
  background: white;
  width: 100%;
  padding: 2em;
}
.content {
  color: #555555;
  line-height: 1.4;
  font-family: 'Helvetica Neue', Helevetica, Arial, sans-serif;
  font-size: 1.4rem;

  &.row {
    max-width: 960px;
    margin: 0 auto;
  }
}

h1,h2,h3,h4 {
  font-family: 'Raleway', 'Helvetica Neu', Helvetica, Arial, sans-serif;
}
