// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #EF9A3A;
$orange: #EF9A3A;
$blue: #395b7c;
$beige: #E3E0D7;
